@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body,
html {
  background-color: #708090;
  color: #FFF;
  font-family: Raleway, sans-serif;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

.container {
  -moz-align-items: center;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding-left: 40px;
  text-align: center;
}

.levels {
  -moz-flex-flow: row wrap;
  -moz-justify-content: center;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

.level-holder {
  height: 140px;
  padding: 10px;
  width: 140px;
}

.level-container {
  -moz-align-items: center;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  background-color: #6495ED;
  border: 1px solid #798B99;
  box-shadow: 0 0 25px rgba(0, 0, 0, .5);
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.level-container.not-played {
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  opacity: .5;
  pointer-events: none;
}

.level-container:hover {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, .5);
}

h4.level {
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  margin: 0 auto;
}

p.score {
  margin: 0 auto;
}

.overlay.scroll {
  overflow-y: scroll;
}

.help-content {
  -moz-flex-direction: column;
  -ms-align-items: center;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.help-content>h1 {
  margin: 30px auto;
}

hr {
  width: 100%;
}

.help-image {
  max-width: 500px;
  width: 100%;
}

.help-text {
  font-size: 1.2em;
  text-align: left;
}

.help-text:last-of-type {
  margin-bottom: 50px;
}

.close-help {
  background-color: rgba(0, 0, 0, .5);
  background-image: url(../img/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 30px;
  top: 10px;
  width: 40px;
}

#win-levels,
#levels>p {
  background-image: url(../img/levels.svg);
}

#game-board {
  -moz-flex-flow: row wrap;
  -moz-justify-content: center;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  border: 2px ridge rgba(255, 255, 255, .8);
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 50px;
}

.game-tile {
  -moz-align-items: center;
  -moz-box-sizing: border-box;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-box-sizing: border-box;
  -webkit-justify-content: center;
  align-items: center;
  background-color: rgba(230, 240, 255, .3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 1px solid #708090;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.game-tile.color-flood {
  -o-transition: background-color .5s ease;
  -webkit-transition: background-color .5s ease;
  border: 0 solid transparent;
  transition: background-color .5s ease;
}

.active {
  -webkit-box-shadow: inset 5px 0 10px rgba(0, 0, 0, .5);
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, .5);
}

.game-tile:hover {
  background-color: #008B8B;
}

.active-0 {
  -webkit-box-shadow: inset 0 0 0 transparent;
  background-color: #708090;
  box-shadow: inset 0 0 0 transparent;
}

.active-1 {
  background-color: rgba(0, 0, 0, .45);
}

.active-2 {
  background-color: rgba(0, 0, 0, .4);
}

.active-3 {
  background-color: rgba(0, 0, 0, .35);
}

.active-4 {
  background-color: rgba(0, 0, 0, .3);
}

.marked {
  background-image: url(../img/flag-marked.svg);
}

.active-5 {
  background-color: rgba(0, 0, 0, .25);
}

.active-6 {
  background-color: rgba(0, 0, 0, .2);
}

.active-7 {
  background-color: rgba(0, 0, 0, .15);
}

.active-8 {
  background-color: rgba(0, 0, 0, .1);
}

.pause-screen {
  -moz-justify-content: center;
  -ms-align-items: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pause-screen-pause {
  -o-animation: flash 1.5s ease;
  -webkit-animation: flash 1.5s ease;
  animation: flash 1.5s ease 0 infinite alternate;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 40px 0 60px .2em;
  text-shadow: 0 0 40px rgba(0, 0, 0, .5);
}

.resume {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: 10px 30px;
}

div.bottom-controls {
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  padding: 10px;
  width: 100%;
}

div.color-choice {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  height: 50px;
  width: 50px;
}

.overlay {
  -moz-align-items: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  background-color: #708090;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay.transparent {
  background-color: rgba(0, 0, 0, .7);
}

.win-content {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 700;
  max-width: 320px;
  padding: 10px;
  text-align: center;
}

.win-content>h3 {
  font-size: 3em;
  margin: 0 0 30px;
}

p.win-message {
  font-size: 1.6em;
  margin: 0 auto;
}

p.win-score {
  margin-top: 30px;
}

p.win-score::before {
  content: 'Time: ';
}

p.win-high-score::before {
  content: 'Record Time: ';
}

.win-controls {
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -webkit-justify-content: space-around;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-top: 40px;
}

.win-control {
  -moz-justify-content: center;
  -ms-align-items: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -o-transition: all .5s ease;
  -webkit-background-size: contain;
  -webkit-justify-content: center;
  -webkit-transition: all .5s ease;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: flex;
  font-size: 40px;
  justify-content: center;
  transition: all .5s ease;
  width: 40px;
}

.win-control:hover {
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#win-reload {
  background-image: url(../img/reload.svg);
}

footer {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -40px;
  padding-left: 40px;
}

header {
  padding: 20px 0 20px 40px;
  text-align: center;
}

h1 {
  margin: 0 auto;
}

nav {
  -moz-align-items: center;
  -moz-flex-direction: column;
  -moz-justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-shadow: 2px 0 15px rgba(0, 0, 0, .4);
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  align-items: center;
  background-color: #3A4249;
  box-shadow: 2px 0 15px rgba(0, 0, 0, .4);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 0;
  width: 40px;
}

.nav-button {
  -moz-align-items: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 30px;
}

.nav-button>p {
  -moz-align-items: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  font-size: 30px;
  height: 30px;
  justify-content: center;
  transition: all .5s ease;
  width: 30px;
}

.nav-button:hover>p {
  transform: scale(1.4);
}

#settings>p {
  background-image: url(../img/settings.svg);
}

#reload>p {
  background-image: url(../img/reload.svg);
}

.custom-level-container {
  -moz-flex-direction: column;
  -moz-flex-wrap: wrap;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 800px;
  width: 100%;
}

.custom-controls {
  -moz-flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 780px;
  width: 100%;
}

.custom-level-control {
  -moz-flex: 1 1 220px;
  -webkit-flex: 1 1 220px;
  flex: 1 1 220px;
  margin: 10px 0;
  max-width: 220px;
  width: 100%;
}

.custom-level-control>label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.custom-level-control>input {
  border-width: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  outline: 0 solid transparent;
  padding: 7px 10px;
  width: 100%;
}

#custom-level-submit {
  -moz-align-items: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  -webkit-justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.game-controls {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 40px;
}

.game-control {
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  height: 30px;
  margin: 0 20px;
}

#mark-flag {
  background-image: url(../img/flag.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}

#mark-flag.marking {
  background-image: url(../img/flag-marked.svg);
}

body.landing {
  background-image: url(../img/grid.png);
  background-position: center;
}

.landing-container {
  -moz-align-items: center;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}

.landing-header {
  font-size: 4em;
  text-align: center;
}

.landing-blurb {
  font-size: 1.5em;
  margin: 20px auto;
  text-align: center;
}

input#landing-name {
  -moz-align-self: stretch;
  -webkit-align-self: stretch;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  align-self: stretch;
  background-color: #708090;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  color: #FFF;
  font-size: 1em;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.landing-play {
  -moz-align-items: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-justify-content: center;
  align-items: center;
  background-color: #f16748;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px auto;
  width: 200px;
}

.color-flood-help {
  background-position: center;
  background-size: contain;
  height: 300px;
  transition: background-image .2s ease;
  width: 300px;
}

@media screen and (max-width: 880px) {
  .custom-level-container {
    -moz-align-items: center;
    -moz-flex-direction: column;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .custom-controls {
    margin-left: -20px;
    max-width: 580px;
  }
  .custom-level-control {
    -moz-flex: 1 1 580px;
    -webkit-flex: 1 1 580px;
    flex: 1 1 580px;
    max-width: 580px;
  }
  #custom-level-submit {
    max-width: 600px;
  }
  .levels {
    max-width: 500px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .landing-header {
    font-size: 3em;
  }
  .landing-blurb {
    font-size: 1.3em;
  }
  header {
    padding-left: 0;
  }
  nav {
    -moz-flex-direction: row;
    -moz-justify-content: space-around;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    bottom: 0;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    top: auto;
    width: 100%;
  }
  .nav-button {
    -moz-flex: 1 1 20%;
    -webkit-flex: 1 1 20%;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #FFF;
    flex: 1 1 20%;
    height: 30px;
    width: inherit;
  }
  .nav-button:last-of-type {
    border-right: 0 solid transparent;
  }
  .container {
    padding: 10px;
  }
  .level-holder {
    height: 120px;
    width: 120px;
  }
  .game-controls {
    padding-left: 10px;
  }
  footer {
    padding-left: 0;
  }
}